type system_monitor, domain;
type system_monitor_exec, exec_type, file_type;

init_daemon_domain(system_monitor)

allow system_monitor socket_device:dir { write };
