type time_daemon, domain;
type time_daemon_exec, exec_type, file_type;

init_daemon_domain(time_daemon)

allow time_daemon shared_log_device:chr_file { read write };
allow time_daemon self:capability { setgid };
