# source: system/core/rootdir/init.rc

on early-init
# Set init and its forked children's oom_adj.
    write /proc/1/oom_adj -16

on init
# create mountpoints
    mkdir /mnt 0775 root system

# Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard

on post-fs-data
    mkdir /data/radio 0770 radio radio
    chmod 2770 /data/radio

on boot
    setprop net.tcp.buffersize.lte     4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.wifi    4096,221184,3461120,4096,221184,3461120
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.evdo_b  4094,87380,262144,4096,16384,262144

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  3461120
    write /proc/sys/net/core/wmem_max  3461120
